
body{
    background-color: black;
    overflow-x: hidden;
    color: white;
    line-height: 18px;
    font-family: monospace;
}

.iframe{
    padding-top: 20px;
    width: 70vw;
    /*height: 25vw;*/
}

.center{
    display: grid;
    justify-content: center;    
    align-items: center;  
    text-align: center;
    vertical-align: middle;
}

#background{
    z-index: -10000;
    top:0px;
    left:0px;
    margin:0px;
    height:100vh;
    width: 100vw;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("../background.png");
    opacity: 0.3;
}

.intro{
    padding:10%;
    padding-top:3%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

body::-webkit-scrollbar{
    display: none;
}

#titlepng{
    height:100vh;
    width: 80vw;
    left: 10vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../RunHeadBanner.png");
}

iframe{
    padding-top:20px;
}

#if2{
    width: 100vw; 
    display: flex;
    padding-top: 50px;
    
}

.Mark{
    font-size: 15px;
    font-weight:bold;
}

.tag {
    display: flex;
    width:100vw;
}

.line{
    background-color: white;
    width: 40%;
    height: 0.5px;
    margin: 10%;
}

#bottom{
    position: relative;
    bottom:-100vh;
    left:-10px;
    height:150px;
    width:100vw;
}

@media screen and (max-width: 1200px){
    #if2{
        display: grid;
    }
    .iframe{
        padding-top:15vh;
        height:35vw;
    }
    iframe{
        width:70vw;
        height: 35vw;
    }
}
